automl==2.9.9
cycler==0.10.0
deap==1.3.1
dill==0.2.9
graphviz==0.14
h5py==2.10.0
joblib==1.2.0
kiwisolver==1.2.0
lightgbm==2.0.12
matplotlib==3.2.1
multiprocess==0.70.10
numpy==1.18.5
pandas==0.25.3
pathos==0.2.6
pox==0.2.8
ppft==1.6.6.2
pyaml==20.4.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scikit-learn==0.23.1
scikit-optimize==0.7.4
scipy==1.4.1
six==1.15.0
sklearn-deap2==0.2.2
tabulate==0.8.7
threadpoolctl==2.1.0
xgboost==1.1.1
